body {
  background: linear-gradient(red, black); 
}

.center {
  display: block; 
  text-align: center; 
}

h1 { 
  font-size: 5rem;
  color: lemonchiffon;
  font-style: italic; 
  text-shadow: 3px 3px rgb(74, 0, 0);
}

p { 
  font-size: 1.5rem;
  color: lemonchiffon;
  font-style: italic;
}

.tops { 
  background-color: lemonchiffon;
  text-align: center;
}

.flashy {
  color: red;
  font-style: italic; 
  font-weight: bold; 
}

img { 
  border: solid darkred 0.25rem;
}

li { 
    list-style: none;
}

.best { 
  font-size: 2rem;
  color: pink; 
}

.important {
  font-size: 4rem;
  color: black;
}

h2, h3 {
  font-size: 1.5rem;
}

.sin {
  font-size: 4rem;
  color: black;
}


.sidebar {
  width: 30%; 
  float: right; 
  background-color: white; 
  text-align: center; 
  height: 45rem; 
  border: solid darkred 0.25rem;
}